
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
td{
  border:none;
  height:20px;
}
/*속성을 이용한 선택자*/
input,select{
  padding:7px;
  border:none;
}
input[type=submit],input[type=reset]{
cursor:pointer;
border:none;
}
input[type=submit]:hover,input[type=reset]:hover{
  background-color:teal;
  color:white;
}

input[type=text],input[type=password],input[type=email]{
height:10px;
padding:5px;
background-color:white;
}
input[type=number]{
  width:30px;
  background-color:rgb(245, 245, 228);
}
input[type=submit],input[type=reset]{
  margin-top: 20px;
 
}
.aa{
  background-color:teal;
  color:white;
  border-radius: 5px;
}
h4{
  font-family: 'Jomhuria', cursive;
  font-size: 80px;
  color:teal;
  margin-bottom: 0px;
  letter-spacing:3px;
}
table{
  margin-top:0px;
}
select{
  background-color: rgb(245, 245, 228);;
}
form{
  width:auto;
}
.aa{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 15px;
}
input[type=submit],input[type=reset]{
  background-color:beige;
}
.box{
  background-color: ivory;
  width:350px;
  text-align: center;
  box-align: center;
  padding:10px   
}
h4{
  
  margin: 30px;
  text-align: left;
}

